.env
.idea
.vscode
/src/logs/*
/*/__pycache__
*.pyc
*.pyo
__pycache__
# Ignore log files
*.log

# Ignore all notebooks
*.ipynb

# But allow notebooks in the examples directory
!examples/*.ipynb

*.sh
*.service

package-lock.json
package.json
node_modules