/* Header section */
.header {
    display: flex;
    flex-direction: column;
    height: 2%;
    width: 100%;
}

.subheader{
    display: flex;
    flex-direction: row;
    height: 75%;
    margin-bottom: auto;
}
.credits{
    height: 20%;
    display: flex;
    width: 93.1%;
    flex-wrap: nowrap;
    background-color: var(--dark-bg);
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    margin-top: auto;
    margin-bottom: auto;
}
.subsubheader{
    
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.snoo {
    margin-right: auto;
}
.main-title {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    font-style: italic;
    margin: auto;
    margin-left: 10px;
}

/* Subsubheader */
.header .airing-period {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--dark-bg);
    font-size: 11px;
    font-weight: bold;
    font-style: italic;
    padding: 3px 6px;
    border-radius: 100px;
    justify-content: center;
   
}
.legend {
    display: flex;
    flex-direction: row;
    height: 60%;
}
.legend>div {
    display: flex;
    text-transform: uppercase;
    font-style: italic;
    font-size: 9px;
    font-weight: bold;
    gap: 5px;
    align-items: center;
}
.legend .icon {
    font-style: normal;
    display: flex;
    margin: auto;
    font-size: 12px;
    height: 11px;
    width: auto;
}

.week-container {
    display: flex;
    flex-direction: column;
}

.week {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    flex-grow: 1;
    /* display: flex; */
    /* height: 24px; */
}

.season {
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px;
    /* height: 13px; */
}

/* Season-specific styles */
.week.winter {
    background-color: var(--winter-bg);
    color: var(--winter-text);
}

.season.winter {
    background-color: var(--winter-contrast-bg);
    color: var(--winter-contrast-text);
}

.week.spring {
    background-color: var(--spring-bg);
    color: var(--spring-text);
}

.season.spring {
    color: var(--spring-contrast-text);
    background-color: var(--spring-contrast-bg);
}

.week.summer {
    background-color: var(--summer-bg);
    color: var(--summer-text);
}

.season.summer {
    color: var(--summer-contrast-text);
    background-color: var(--summer-contrast-bg);
    display: flex;
}

.week.fall {
    background-color: var(--fall-bg);
    color: var(--fall-text);
}

.season.fall {
    background-color: var(--fall-contrast-bg);
    color: var(--fall-contrast-text);
}




/* Comment bubble shape in legend
body>div>div.legend>div:nth-child(5)>div {
    background-color: #ffffff;
    margin-right: 5px;
    font-style: normal;
    width: 15px;
    height: 15px;
    display: flex;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
} */

/* Divider section */
.container>.divider {
    width: 100%;
    height: 15px;
    background-color: var(--dark-bg);
    align-content: center;
    position: relative;

}

.container>.divider .contents {
    display: flex;
    flex-wrap: nowrap;
}

 .total-karma {
    
    width: 8%;
    background-color: var(--light-text);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    clip-path: polygon(29% 0, 100% 0%, 100% 100%, 0 100%);
}

.total-karma .text-container>span {
    color: var(--poll-blue);
    margin-top: auto;
    margin-bottom: auto;
}

 .total-karma .text-container {
    margin-top: 0px;
    color: var(--secondary-bg);
    margin-right: 2px;
}

.credits .pill {

    font-size: 7px;
    font-style: italic;
    font-weight: bold;
    border-radius: 100px;
  
}