/* Streaming Service Colors */
:root {
    --crunchyroll-color: rgb(244, 117, 33);
    --hidive-color: rgb(0, 174, 240);
    --netflix-color: rgb(219, 0, 0);
    --hulu-color: rgb(102, 170, 51);
    --disney-color: #113CCF;
    --prime-color: rgb(60, 120, 180);
    --twitter-color: rgb(20, 23, 26);
    --samsung-color: #1428A0;
    --max-color: #870AB2;
    --none-color: #000000;
    --studio-color: white;
}

/* Background Colors */
.Crunchyroll {
    background-color: var(--crunchyroll-color) !important;
}

.Hidive {
    background-color: var(--hidive-color) !important;
}

.Netflix {
    background-color: var(--netflix-color) !important;
}

.Hulu {
    background-color: var(--hulu-color) !important;
}

.Disney {
    background-color: var(--disney-color) !important;
}

.Prime {
    background-color: var(--prime-color) !important;
}

.Twitter {
    background-color: var(--twitter-color) !important;
}

.Samsung {
    background-color: var(--samsung-color) !important;
}

.Max {
    background-color: var(--max-color) !important;
}

.None {
    background-color: var(--none-color);
}

.Studio {
    background-color: var(--studio-color) !important;
}

/* Logo Base Styles */
[class$="-logo"] {
    padding: 10px 12px;
    display: flex;
    width: 30%;
    font-size: 8px;
    height: 0px;
    border-radius: 0 358px 0 0 !important;
    align-items: center;
    justify-content: center;
}

/* Logo Background Colors */
.Crunchyroll-logo {
    background-color: var(--crunchyroll-color);
}

.Hidive-logo {
    background-color: var(--hidive-color);
}

.Netflix-logo {
    background-color: var(--netflix-color);
}

.Disney-logo {
    background-color: var(--disney-color);
}

.Prime-logo {
    background-color: var(--prime-color);
}

.Samsung-logo {
    background-color: var(--samsung-color);
}

.Max-logo {
    background-color: var(--max-color);
}

.None-logo {
    background-color: var(--none-color);
}