<!DOCTYPE html>
<html>
<head>
    <title>{{ airing_details.season }} Karma Ranks</title>
    <meta name="description" content="The current /r/anime weekly engagement ranking &amp; discussion">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new_karma.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/streaming.css') }}">
    <script src="{{ url_for('static', filename='scripts/reddit_fallback.js') }}"></script>
    
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="airing-period">{{airing_details.airing_period}}</div>
            <div class="main-title">
                <span>/r/anime weekly engagement ranking &amp; discussion</span>
            </div>
            <div class="week-container">
                <span class="season {{ airing_details.season }}">{{ airing_details.season }}</span>
                <div class="week {{ airing_details.season }}"><span>{{ airing_details.week_id }}</span></div>
            </div>
        </div>
        <img class="snoo" src="https://i.imgur.com/uCR75Ns.png" alt="Snoo">
        <div class="legend">
            <div>
                        <div class="icon" style="background-color: transparent; width: unset">
                            <svg class="arrow positive" viewBox="0 0 117.7 110"><polygon points="60,0 0,58 40,58 40,110 80,110 80,58 120,58"></polygon></svg>
                            <svg class="arrow negative" viewBox="0 0 117.7 110"><polygon points="60,0 0,58 40,58 40,110 80,110 80,58 120,58"></polygon></svg>
                        </div>
                        <span>Rank change</span>
                    </div>
                    <div>
                        <div class="icon" style="background-color: transparent; width: unset">
                            <svg class="caret caret-up" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </svg>
                            <svg class="caret caret-down" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </svg>
                        </div>
                        <span>Karma change</span>
                    </div>
                    <div>
                        <div class="icon" style="color: rgb(252, 103, 43);"><span>M</span></div>
                        <span>Myanimelist score</span>
                    </div>
                    <div style="
            display: none;
        ">
                        <div class="icon" style="color: rgb(252, 103, 43);"><span>R</span></div>
                        <span>Redditanimelist score</span>
                    </div>
                    
                    <div>
                        <div class="icon" style="color: #4f7dc0"><span> </span></div>
                        <span>No. of Comments </span>
                    </div>
                </div>
        <div class="divider">
            <div class="contents">
                <!-- Pill Items -->
                <div class="pill">Chart: animekarmawatch.com</div>
                <div class="pill">Data: r/anime</div>
                <div class="pill">Poster art: animekarmalist.com</div>
                <div class="pill">Design: /u/reddadz</div>
                <div class="pill">Editor: /u/abysswatcherbel</div>
                <div class="total-karma">
                    <div style="width:32px"></div>
                    <div class="text-container"><span>K</span> {{ sum_karma }}</div>
                </div>
            </div>
        </div>
        <div class="episode-container">
            {% for left, right in complete_rankings %}
            <div class="row">
                {% if left %}
                <div class="karma-entry">
                    <div class="ranking">
                        <span class="rank">{{ left.current_rank }}</span>
                        {% if left.rank_change == 'returning' %}
                            {{ back_symbol | safe }}
                        {% elif left.rank_change == 'new' %}
                            {{ new_entry | safe }}
                        {% else %}
                            <span class="rank-change {% if left.rank_change | int > 0 %}positive{% elif left.rank_change | int < 0 %}negative{% else %}stable{% endif %}" style="display: initial;">
                                <span style="display: {% if left.rank_change | int == 0 %}none{% else %}initial{% endif %};">
                                    <svg class="arrow {% if left.rank_change | int > 0 %}positive{% elif left.rank_change | int < 0 %}negative{% else %}neutral{% endif %}" viewBox="0 0 117.7 110">
                                        <polygon points="60,0 0,58 40,58 40,110 80,110 80,58 120,58"></polygon>
                                    </svg>
                                    {% if left.rank_change | int == 0 %}
                                    {% elif left.rank_change | int is number %}
                                    {{ left.rank_change | int | abs }}
                                    {% endif %}
                                </span>
                               
                            </span>
                        {% endif %}
                    </div>
                    
                    <div class="details" style="background-image: url('{{ left.images.large }}'); background-position: 0px 0px;">
                    <a href="{{ left.images.large }}" target="_blank" class="external-link"></a>
                        <div class="part-1">
                            <span class="karma-change" style="display: {% if left.karma_change == 0 %}none{% else %}initial{% endif %};">
                            <svg class="caret {% if left.karma_change | int > 0 %}caret-up{% else %}caret-down{% endif %}" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </svg>
                            {{ left.karma_change | abs }}</span>
                            <span class="karma">{{ left.karma }}</span>
                        </div>
                        <div class="part-2">
                            <span class="title">
                                {% if left.title_english %}
                                    {{ left.title_english }}
                                {% else %} 
                                    {{ left.title }}
                                {% endif %}
                            </span>
                            <div class="pod-container">
                                <span class="episode-number"><span class="poll-blue">E</span>
                                    {% if left.episode == left.num_episodes %}
                                        " {{ left.episode | int }} (Final)"
                                    {% else %}
                                        " {{ left.episode | int }}"
                                    {% endif %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="details-2">
                        <div class="comments-wrapper">
                            <div class="comments">
                                <span>{{ left.comments }}</span>
                                <div style="width: 100%; height: 7px;"></div>
                                {% if left.url %}
                                <a href="{{ left.url }}"
                                    target="_blank"
                                    class="external-link"
                                    data-title-english="{{ left.title_english or left.title }}">
                                </a>
                                {% else %}
                                <!-- If there's no URL, just use # (or leave it empty) so we know to fallback -->
                                <a href="#"
                                    target="_blank"
                                    class="external-link"
                                    data-check-fallback="true"
                                    data-title-english="{{ left.title_english or left.title }}">
                                </a>
                                {% endif %}
                            </div>
                            
                        </div>
                        <div class="mal-ratings">
                            <span>{{ left.score }} <span class="neutral">M</span><a class="external-link" href="{{ left.mal_url }} " target="_blank"></a></span>
                            <span class="Studio" style="background-color: #fff; color: #000; text-align: center;">{{ left.studio | join(',') }}</span>
                            <span class="{{ left.streams.name | capitalize}}">{{ left.streams.name | capitalize}}<a class="external-link" href="{{ left.streams.url }} " target="_blank"></a></span>
                        </div>
                    </div>
                </div>
                {% endif %}
        
                {% if right %}
                <div class="karma-entry rightSide">
                    <div class="details rightBanner" style="background-image: url('{{ right.images.large  }}'); background-position: 0px 0px;">
                    <a href="{{ right.images.large }}" target="_blank" class="external-link"></a>
                        <div class="part-1">
                            <span class="karma rightKarma">{{ right.karma }}</span>
                        </div>
                        <div class="part-2">
                            <span class="title rightTitle">{% if right.title_english %}{{ right.title_english }}{% else %} {{ right.title }}{% endif %}</span>
                            <div class="rightContainer">
                                <span class="{{ right.streams.name | capitalize }}-logo">{{ right.streams.name | capitalize}}</span>
                                <div class="details-container">
                                    <div class="comments-wrapper" style="filter: drop-shadow(3px 1px 1px rgba(0, 0, 0, 0.8));">
                                        <div class="right-comments"><span>{{ right.comments }}</span></div>
                                    </div>
                                    <span class="rightEpisode">E {{ right.episode | int }}</span>
                                    <span class="karma-change rightChange" style="display: {% if right.karma_change == 0 %}none{% else %}flex{% endif %};{% if right.karma_change > 0 %}color: rgb(252, 103, 43);{% else %}color: rgb(146, 108, 202);{% endif %}">
                                    <svg class="caret {% if right.karma_change | int > 0 %}caret-up{% else %}caret-down{% endif %}" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.011 512.011" style="enable-background:new 0 0 512.011 512.011;" xml:space="preserve"> <g> <g> <path d="M505.755,123.592c-8.341-8.341-21.824-8.341-30.165,0L256.005,343.176L36.421,123.592c-8.341-8.341-21.824-8.341-30.165,0 s-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251c5.462,0,10.923-2.091,15.083-6.251l234.667-234.667 C514.096,145.416,514.096,131.933,505.755,123.592z"></path> </g> </g> </svg>
                                    {{ right.karma_change | int | abs }}
                                    </span>
                                    <div class="right-ranking">
                                        {% if right.rank_change == 'returning' %}
                                            {{ back_symbol | safe }}
                                        {% elif right.rank_change == 'new' %}
                                            {{ right_new_entry | safe }}
                                        {% elif right.rank_change | int == 0 %}
                                            <span class="right-rank-change stable">&mdash;</span>
                                        {% else %}
                                            <span class="right-rank-change {% if right.rank_change | int > 0 %}positive{% else %}negative{% endif %}" style="display: initial;">
                                                <span style="display: initial;">
                                                    <svg class="arrow {% if right.rank_change | int < 0 %}negative{% else %}positive{% endif %}" viewBox="0 0 117.7 110">
                                                        <polygon points="60,0 0,58 40,58 40,110 80,110 80,58 120,58"></polygon>
                                                    </svg>
                                                </span>
                                                {{ right.rank_change | int | abs }}
                                            </span>
                                        {% endif %}
                                    </div>
                                    <div class="rightRank"><span>{{ right.current_rank }}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="divider"></div>
            {% endfor %}
        </div>
               
    </div>
</body>
</html>
