<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Karma Ranks</title>
    <meta name="description" content="Anime karma ranks from r/anime subreddit">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="{{ url_for('static', filename='scripts/synposis.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/sort_tables.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/progression_chart.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

  <!-- Header -->
  <header>
    <div class="logo">
      <h1>Karma Ranks</h1>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('current_week') }}">Home</a></li>
        <li><a href="{{ url_for('winter_week_6') }}">Week {{ current_week_id - 1 }} Chart</a></li>
        <li><a href="{{ url_for('current_chart') }}">Week {{ current_week_id }} Chart</a></li>
      </ul>
    </nav>
   
  </header>

  <!-- Main Content -->
  <main class="page-layout">

    <section class="featured-content">
    <!-- Featured Show -->
    {% if current_shows and current_shows|length > 0 %}
      {% set featured_show = current_shows[0] %}
      
      <div class="featured-block">
          <h3>Featured Week Rank #1 - {{ featured_show.title_english or featured_show.title }}</h3>
        <div class="featured-show">
          <div class="featured-image">
            <img src="{{ featured_show.images.jpg.image_url }}" alt="{{ featured_show.title_english or featured_show.title }}"
                 onerror="this.onerror=null;this.nextElementSibling.style.display='inline-block';this.style.display='none';">
            <span style="display:none;">{{ featured_show.title_english or featured_show.title }}</span>
          </div>
          <div class="featured-info">
            
            <div class="synopsis-container">
                <button class="synopsis-toggle">
                   Synopsis
                </button>
                <p class="synopsis-content">
                  {{ featured_show.synopsis }}
                </p>   
            {% if featured_show.trailer and featured_show.trailer.embed_url %}
              <div class="trailer-container">
                <iframe width="100%" height="50%" src="{{ featured_show.trailer.embed_url }}" frameborder="0" allowfullscreen></iframe>
              </div>
            {% endif %}
          </div>
          </div>
        </div>
      </div>
    
    {% endif %}
    <div class="active-discussions sortable">
            <table>
              <caption>Active Discussions</caption>
              <thead>
                <tr>
                  <th>Show</th>
                  <th>Karma</th>
                  <th>Comments</th>
                  <th>Streaming At</th>
                  <th>Reddit Post</th>
                  <th>Time Left (Hours)</th>
                  <th>Karma/H</th>
                </tr>
              </thead>
              <tbody>
                {% if active_discussions %}
                  {% for show in active_discussions %}
                    <tr>
                      <td>
                        <img src="{{ show.images.webp.image_url }}" alt="{{ show.title_english or show.title }}"
                            onerror="this.onerror=null;this.nextElementSibling.style.display='inline-block';this.style.display='none';"/>
                        <span style="display:none;">{{ show.title_english or show.title }}</span>
                      </td>
                      <td>{{ show.karma }}</td>
                      <td>{{ show.comments }}</td>
                      <td><a href="{{ show.streaming_at }}" target="_blank">{{ show.streaming_on | capitalize}}</a></td>
                      <td><a href="{{ show.reddit_url }}" target="_blank">Link</a></td>
                      <td>{{ show.time_left | round(2) }}</td>
                      <td>
                        <canvas class="progression-chart" data-id="{{ show.mal_id }}" width="90%" height="90%"></canvas>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr><td colspan="7">No active discussions available</td></tr>
                {% endif %}
              </tbody>
        </table>
    </section>

    <!-- Rank Section with Two Equal Tables -->
    <section class="rank-tables">
      <div class="rank-table collapsible">
        
        <button class="expand-btn">Expand</button>
        <table>
            <caption>{{ airing_details.airing_period }}</caption>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Show</th>
              <th>Episode</th>
              <th>Karma</th>
              <th>Comments</th>
              <th>Karma Change</th>
              <th>Rank Change</th>
              <th>Reddit Link</th>
            </tr>
          </thead>
          <tbody>
            {% if current_shows %}
              {% for show in current_shows %}
                <tr>
                  <td>{{ show.current_rank }}</td>
                  <td>
                    <img src="{{ show.images.webp.image_url }}" alt="{{ show.title_english or show.title }}"
                         onerror="this.onerror=null;this.nextElementSibling.style.display='inline-block';this.style.display='none';"/>
                    <span style="display:none;">{{ show.title_english or show.title }}</span>
                  </td>
                  <td>{{ show.episode }}</td>
                  <td>{{ show.karma }}</td>
                  <td>{{ show.comments }}</td>
                  <td>{{ show.karma_change }}</td>
                  <td>{{ show.rank_change }}</td>
                  <td><a href="{{ show.url }}" target="_blank">Link</a></td>
                </tr>
              {% endfor %}
            {% else %}
              <tr><td colspan="8">No shows to display this week</td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>

      <div class="rank-table averages-rank">
        <button class="expand-btn">Expand</button>
        <table>
            <caption>Season Average</caption>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Show</th>
              <th>Average Karma</th>
              <th>Average Comments</th>
              <th>Max Karma</th>
              <th>Min Karma</th>
            </tr>
          </thead>
          <tbody>
            {% if average_shows %}
                
              {% for show in average_shows %}
                <tr>
                  <td>{{ loop.index }}</td>
                   
                  <td>
                    <img src="{{ show.images.webp.image_url }}" alt="{{ show.title_english or show.title }}"
                         onerror="this.onerror=null;this.nextElementSibling.style.display='inline-block';this.style.display='none';"/>
                    <span style="display:none;">{{ show.title_english or show.title }}</span>
                    <td>
                        {% if show.average_karma %} 
                            {{ "%.2f"|format(show.average_karma) if show.average_karma % 1 != 0 else show.average_karma|int }}
                        {% endif %}
                    </td>
                    <td>
                        {% if show.average_comments %} 
                            {{ "%.2f"|format(show.average_comments) if show.average_comments % 1 != 0 else show.average_comments|int }}
                        {% endif %}
                    </td>
                    
                  <td>{{ show.max_karma }}</td>
                  <td>{{ show.min_karma }}</td>
                </tr>
              {% endfor %}
            {% else %}
              <tr><td colspan="6">No average rankings available</td></tr>
            {% endif %}
          </tbody>
        </table>
      </div>
    </section>

  </main>

  <!-- Footer -->
  <footer>
    <p>by u/abysswatcherbel</p>
    <p>Data collected weekly from r/anime subreddit.</p>
  </footer>

</body>
</html>
